/* Main Content Styling */
main {
	padding: 40px 20px;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

main h1 {
	font-size: 40px;
	margin: 50px 0px;
	color: #333;
}

/* General Styling for the Card Container */
.card-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 20px;
	flex-wrap: wrap;
}

/* Card Styling */
.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: calc(33.33% - 20px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 15px;
}

.card h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #333;
	text-align: center;
}

.card ul {
	list-style: none;
	padding: 0;
	margin-bottom: 10px;
	text-align: left;
}

.card ul li {
	font-size: 16px;
	line-height: 1.6;
	color: #666;
}

.price {
	font-size: 20.8px;
	margin-bottom: 20px;
	text-align: center;
}

.current-price {
	color: #e25555;
	font-weight: bold;
}

.old-price {
	text-decoration: line-through;
	color: #999;
	margin-left: 10px;
}

/* Footer Section for Card Buttons */
.card-footer {
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: space-around;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
	background-color: #555;
	transform: translateY(-2px);
}

/* Responsive Design for PCs (> 768px) */
@media (min-width: 769px) {
	.card {
		width: calc(33.33% - 20px);
	}

	main h1 {
		font-size: 40px;
	}
}

/* Responsive Design for Tablets and Smartphones (<= 768px) */
@media (max-width: 768px) {
	.card {
		width: 100%;
	}

	.card-container {
		justify-content: center;
	}

	main h1 {
		font-size: 32px; /* Smaller font size for mobile */
	}
}

/* Responsive Design for Small Smartphones (<= 480px) */
@media (max-width: 480px) {
	.card {
		width: 100%;
		padding: 15px;
	}

	main h1 {
		font-size: 28.8px;
	}
}
